---
const CardPostData = [
    {
        image:{
            url: "/assets/images/image-retro-pcs.jpg",
            alt: "retro pc's",
        },
        title: "Reviving Retro PCs",
        content: "What happens when old PCs are given modern upgrades?"
    },
    {
        image:{
            url: "/assets/images/image-top-laptops.jpg",
            alt: " laptop image",
        },
        title: "Top 10 Laptops of 2022",
        content: "Our best pics for various needs and budgets."
    },
    {
        image:{
            url: "/assets/images/image-gaming-growth.jpg",
            alt: "gaming console",
        },
        title: "The Growth of Gaming",
        content: "How the pandemic has sparked fresh opportunities."
    },
]
---

<section class="px-5 grid grid-cols-1 gap-7 sm:grid-cols-3 sm:px-0 sm:mt-10">
   
        {
            CardPostData.map((card,index) => 
            (<div class="flex gap-6 ">
                    <div class="flex-shrink-0 w-1/4">
                        <img class="w-full" src={card.image.url} alt={card.image.alt}>
                    </div>
                    <div>
                        <span class="text-slate-400 text-2xl font-bold tracking-widest block mb-3"  >0{index + 1}</span>
                        <h3 class="text-[#00001a] font-extrabold text-xl opacity-80 mb-3">{card.title}</h3>
                        <p class="text-slate-600 text-base">{card.content}</p>
                    </div>
            </div>)
            )
        }
    
</section>