---
import { Icon } from "astro-icon/components";

const siteNav = [
  {
    page: "Home",
    url: "#",
  },
  {
    page: "New",
    url: "#",
  },
  {
    page: "Popular",
    url: "#",
  },
  {
    page: "Trending",
    url: "#",
  },
  {
    page: "Categories",
    url: "#",
  },
];
---

<header class="flex justify-between items-center py-6 px-3 mb-4 sm:mt-6 sm:mb-1 relative">
  <img
    class="w-[40px] sm:w-[60px]"
    src="/assets/images/logo.svg"
    alt="site logo"
  />
  <nav id="nav" class="" >
    <button id="menu-close"><img src="/assets/images/icon-menu-close.svg" alt=" menu close"></button>
    <ul class=" sm:flex gap-7 text-sm text-slate-700">
        {
            siteNav.map(site => (<li class="hover:text-sky-950"><a href={site.url}>{site.page}</a></li>)
        )
        }
    </ul>
  </nav>
  <button id="menu-open"><img class="sm:hidden" src="/assets/images/icon-menu.svg" alt=" nav menu" /></button>
</header>


<style>
  
  nav{
    position: absolute;
    right:-100%;
    
  }
  .open{
    position: fixed;
    display: grid;
    align-content: center;
    right: 0;
    top: 1.25rem;
    box-shadow: 0px 0px 5px  #c2d1e6 ;
    /* width: 75vh; */
    padding: 0 2rem;
    height: 20vh;
    background-color: #fff;
    width: 50%;
    z-index: 100;
  }

  .open ul{
    display: grid;
    font-size: 1.2rem;
  }
  .open img{
    position: fixed;
    top:2rem;
    right: 2rem;
    width: 30px;
  }
</style>

<script>
import { navigate } from "astro:transitions/client";

  const nav = document.querySelector('#nav')
  console.log(nav);
  const menuClose = document.querySelector('#menu-close')
  menuClose.addEventListener('click',() =>{
    nav.classList.remove("open")
  })
  const menuOpen = document.querySelector('#menu-open')
  menuOpen.addEventListener('click',() =>{
    nav.classList.add("open")
  })
</script>